---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>

  <!-- Steps2 Widget ****************** -->

  <Steps2
    id="vision"
    tagline="About us"
    title="Our values"
    subtitle="At the Artifactory our vision is to cultivate a welcoming, safe, and nurturing creative space. We champion accessibility by providing access to unique tools and training for one and all, regardless of background or experience. Our goal is to empower individuals to realise their creative potential and in doing so, enhance the mental health and happiness of our community through the joy of making."
    items={[
      {
        title: 'Focus on the wellbeing of our community',
        description:
          'Promote the awareness of mental, emotional, and physical health of people in our community.',
        icon: 'tabler:user-heart',
      },
      {
        title: 'Welcoming all people',
        description:
          'Everyone is welcome at the Artifactory. We do not discriminate any person on the basis of sex, race, age, ability, or faith.',
        icon: 'tabler:users-group',
      },
      {
        title: 'Sharing of knowledge and skills',
        description:
          'Bringing out the creative potential in our community through sharing of knowledge and skills.',
        icon: 'tabler:school',
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    id="stats"
    title="Statistics about us"
    stats={[
      { title: 'Active Members', amount: '50+' },
      { title: 'Sponsored Members', amount: '5' },
      { title: 'Monthly Events', amount: '15+' },
      { title: 'Monthly Attendees', amount: '300+' },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    id="location"
    title="Our location"
    tagline="find us"
    columns={3}
    items={[
      {
        title: 'EE.UU',
        description: 'Unit 8 / 16 Guthrie Street, Osborne Park WA 6017',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    id="contact"
    title="Contact Us"
    tagline="Have a question?"
    columns={2}
    items={[
      {
        title: 'Chat with us',
        description:
          'Join us on the <a href="https://perart.io/slack">Artifactory Slack</a>, our primary communication platform for members and non-members alike. Simply ask your question in the #general channel or join one of our specific interest groups.',
        icon: 'tabler:messages',
      },
      {
        title: 'Email us',
        description:
          'Feel free to email us at <a href="mailto:info@artifactory.org.au">info@artifactory.org.au</a> with any enquiries.',
        icon: 'tabler:mail',
      },
    ]}
  />
</Layout>
