---
import Content from '~/components/widgets/Content.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Services',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="What's going on"
    title="Events at the Artifactory"
    subtitle="Come and see what we have on hand. We've put together an environment where anyone can find the tools they need to help turn your concepts into realities."
  />

  <!-- Calendar ************** -->

    <div style="overflow: hidden" class="mx-auto max-w-6xl w-11/12 rounded-lg bg-neutral-500 shadow-lg">
      <iframe src="https://embed.styledcalendar.com/#skcl6AQTLiBY7LcRNZPw" title="Styled Calendar" class="styled-calendar-container" style="width: 100%; border: none;" data-cy="calendar-embed-iframe"></iframe>
      <script async type="module" src="https://embed.styledcalendar.com/assets/parent-window.js"></script>
    </div>

  <!-- Features2 Widget ************** -->

  <Features2
    id="location"
    title="Our location"
    tagline="find us"
    columns={3}
    items={[
      {
        title: 'Address',
        description: 'Unit 8 / 16 Guthrie Street<br> Osborne Park WA 6017',
      },
      {
        title: 'Nearest Bus Stop',
        description: '<a href = "https://www.transperth.wa.gov.au/timetablepdfs/Bus%20Timetable%2059%2020220717.pdf">Route 413</a> stops outside the Artifactory.<br> Mon-Fri only, morning and afternoon.',
      },
      {
        title: 'Nearest Train',
        description: 'Stirling Station and Glendalough Station',
      },
    ]}
  />

    <div style="overflow: hidden" class="mx-auto max-w-5xl w-11/12 rounded-lg bg-neutral-500 shadow-lg">
      <iframe src="https://snazzymaps.com/embed/517349" width="100%" height="600px" style="border:none;"></iframe>
    </div>


  <!-- Hero Widget ******************* -->

  <Hero
    callToAction={{ text: 'Become a member', href: '/pricing', icon: 'tabler:users' }}
    callToAction2={{ text: 'Visit us', href: '/first_visit'}}
  >

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Get started today!</span>
    </Fragment>
  </Hero>


</Layout>
