---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';

const metadata = {
  title: 'Perth Artifactory',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    callToAction={{ text: 'Become a member', href: '/pricing', icon: 'tabler:users' }}
    callToAction2={{ text: 'Learn more', href: '#features' }}
    image={{ src: '~/assets/images/hero.png', alt: 'Perth Artifactory' }}
  >
    <Fragment slot="title">
      Make something incredible
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">The Perth Artifactory</span> is a makerspace and community workshop in Osborne Park, Western Australia.</span>
    </Fragment>
  </Hero>


  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="What we offer"
    title="What will you find at the Artifactory?"
    subtitle="We are dedicated to fostering creativity, accessibility, and wellbeing for people of all backgrounds and skill levels. We aim to equip our community with new skills, nurture their passions, and promote happiness through unrestricted invention."
    items={[
      {
        title: 'Dedicated project area',
        description:
          'The heart of the Artifactory where you can work on your latest ideas and get inspired by what others are working on.',
        icon: 'tabler:hammer',
      },
      {
        title: 'Social area',
        description:
          'The home of our regular social events where you can take a break from making and chat with other members. You can even watch some TV, listen to music, or play one of our dozens of board games together.',
        icon: 'tabler:device-gamepad-2',
      },
      {
        title: 'Quiet labs',
        description:
          'If you need to focus our computer and electronics labs are the perfect places ',
        icon: 'tabler:device-desktop',
      },
      {
        title: 'Outdoor spaces',
        description:
          'For the messier projects, or simply to sit with friends and get a bit of sunshine.',
        icon: 'tabler:sun-high',
      },
      {
        title: 'Specialised tools',
        description:
          'We have a wide range of large tools including laser cutters, 3D printers, etc.',
        icon: 'tabler:settings',
      },
      {
        title: 'Rehearsal Room',
        description:
          'Treated room with PA and limited backline, great for rehearsals, practice, or recording music and podcasts. Suits up to a four/five piece. Rock out to your hearts content, day or night.',
        icon: 'tabler:music',
      },
    ]}
  />

  <!-- Testimonials Widget *********** -->

  <Testimonials
    id="testimonials"
    tagline="testimonials"
    title="Words from our community"
    testimonials={[
      {
        testimonial: `It's made exploring and downloading website templates a breeze. The interface is intuitive, and I had no trouble finding the perfect template for my project. It's an app that truly empowers users.`,
        name: 'Cary Kennedy',
        job: 'Artifactory Member',
        image: {
          src: 'https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Cary Kennedy Image',
        },
      },
      {
        testimonial: `The app's seamless download process and intuitive layout have made selecting templates an enjoyable experience. Being able to preview and experiment with different designs before committing has saved me time and ensured I get the perfect look for my website.`,
        name: 'Josh Wilkinson',
        job: 'NDIS Provider',
        image: {
          src: 'https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Josh Wilkinson Image',
        },
      },
      {
        testimonial:
          'I was able to download and use a professional website template within minutes. The step-by-step process and user-friendly interface made it easy for me to create a website that looks as if it was designed by a pro.',
        name: 'Sidney Hansen',
        job: 'Decorator',
        image: {
          src: 'https://images.unsplash.com/photo-1512361436605-a484bdb34b5f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Sidney Hansen Image',
        },
      },
    ]}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl'}}
    items={[
      {
        title: 'When is the Artifactory open?',
        description:
          "The Artifactory runs regular events where anyone is welcome to attend and use the space. If it's your first time at the Artifactory the best time for you will be one of our Open Days on the first Saturday of each month. In addition, monthly members are able to apply for 24/7 access so you can use the Artifactory at your convenience.",
      },
      {
        title: 'How much does it cost to be a member?',
        description:
          "We offer a range of memberships including one-off day passes and concession rates. Check out our pricing page for detailed info.",
      },
      {
        title: 'Do you offer concession prices?',
        description:
          'Yes we do! ',
      },
      {
        title: "Do you have a specific tool I'm looking for?",
        description:
          "For a detailed list of our facilities you can look at our wiki. Better yet, come to one of our monthly Open Days to see for yourself!",
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    id="stats"
    title="Statistics about us"
    stats={[
      { title: 'Active Members', amount: '50+' },
      { title: 'Sponsored Members', amount: '5' },
      { title: 'Monthly Events', amount: '15+' },
      { title: 'Monthly Attendees', amount: '300+' },
    ]}
  />

  <!-- Map ******************* -->

    <div style="overflow: hidden" class="mx-auto max-w-5xl w-11/12 rounded-lg bg-neutral-500 shadow-lg">
      <iframe src="https://snazzymaps.com/embed/517349" width="100%" height="600px" style="border:none;"></iframe>
    </div>

  <!-- Hero Widget ******************* -->

  <Hero
    callToAction={{ text: 'Become a member', href: '/pricing', icon: 'tabler:users' }}
    callToAction2={{ text: 'Plan your first visit', href: '/first_visit'}}
  >

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Get started today!</span>
    </Fragment>
  </Hero>

</Layout>
